@{
    ViewBag.Title = "Nuestro Contacto";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Soyapango<br />
    San Salvador, El Salvador<br />
    <abbr title="Phone">Telefono:</abbr>
    123456789
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>